@tailwind base;
@tailwind components;
@tailwind utilities;

/* Loader CSS */
.blob {
	filter: blur(6px) contrast(20);
}

.blob:before,
.blob:after {
	grid-area: 1/1;
	animation: gooeyBlob 2s infinite;
}

.blob:after {
	animation-delay: -1s;
}

@keyframes gooeyBlob {
	0% {
		transform: translate(0, 0);
	}

	25% {
		transform: translate(100%, 0);
	}

	50% {
		transform: translate(100%, 100%);
	}

	75% {
		transform: translate(0, 100%);
	}

	100% {
		transform: translate(0, 0);
	}
}

[x-cloak] {display: none !important;}